body {
  color: #373737;
  font-family: "MS Trebuchet", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  margin: 0;
  min-height: 200px;
  width: 790px;
  overflow-x: hidden;
}

a {
  border-bottom: 1px dotted #BBBBBB;
  color: #425570;
  text-decoration: none;
}

.progress_bar {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #CCC;
  border: 1px solid #222;
  position: relative;
  width: 140px;
}
.progress_bar .inner {
  background: #4A7C91 url(../images/progress_bar.png) repeat-x top left;
  height: 14px;
  width: 0%;
  text-align: center;
}
.progress_bar .inner span {
  color: #FFF;
  display: block;
  font-size: 0.9em;
  font-family: Verdana;
  text-align: center;
  width: 100%;
}


#overlay {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  font-size: 1.2em;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}
#overlay .overlay_inner {
  background: #F5A5A5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: table; /* Allows us to shrink to content and centre with auto margin */
  line-height: 16px;
  margin: 0 auto;
  padding: 1em;
  vertical-align: middle;
  }
  #overlay .overlay_inner span { vertical-align: middle; }
  #overlay .overlay_inner .error {
    background: url(/themes/standard/images/error.png) no-repeat left top;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding-left: 35px;
    vertical-align: middle;
  }

table#torrent_table {
  border-spacing: 0;
  width: 790px;
  font-size: 1.2em;
}
  .scrollbars table#torrent_table { width: 772px; }
  table#torrent_table thead th {
    background-image: url(/images/table_div.png), -webkit-gradient(linear, 0% 18%, 0% 52%, from(#FDFDFD), to(#E9E9E9));
    background-repeat: no-repeat;
    background-position: left 2px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 3px;
  }
    table#torrent_table thead th:first-child {
      background-image: -webkit-gradient(linear, 0% 18%, 0% 52%, from(#FDFDFD), to(#E9E9E9));
      border-left: 1px solid #CCC;
      border-top-left-radius: 5px;
    }
    table#torrent_table thead th:last-child {
      border-right: 1px solid #CCC;
      border-top-right-radius: 5px;
    }
    #table_header_position { width: 20px; }
    #table_header_name {
      max-width: 250px;
      text-align: left;
    }
    .table_cell_name { font-weight: 700; }
    #table_header_size { width: 80px; }
    .table_cell_size { text-align: center; }
    #table_header_speed { width: 150px; }
    .table_cell_speed { text-align: center; }
    #table_header_actions { width: 140px; }
  table#torrent_table tbody tr:nth-child(even) { background: #F4F4F4; }
  table#torrent_table tbody tr td { padding: 5px 3px; }

a:hover {color: #000000;}
.clr { clear: both; }
